{% extends 'entidades/index.html' %}

{% block titulo %}
<h1 class="mb-5">Clases</h1>
{% endblock titulo %}


{% block contenido %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>clases</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
    {% for c in clases %}
        <tr>
            <td>{{c.id}}</td>
            <td>{{c.clases}}</td>
            <td>{{c.valor}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
                
{% endblock contenido %}
